services:
  mongo:
    image: mongo:7.0
    container_name: monodb-with-replica-set
    ports:
      - "27017:27017"
    command: mongod --replSet rs0 --bind_ip_all
    volumes:
      - mongo-data:/data/db
    networks:
      - mongo-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  # Auto-initialize replica set
  mongo-init:
    image: mongo:7.0
    container_name: mongo-init-replica
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - mongo-network
    restart: "no"
    entrypoint: >
      bash -c "
      sleep 5 &&
      mongosh --host mongo:27017 --eval 'rs.status()' || 
      mongosh --host mongo:27017 --eval 'rs.initiate({_id: \"rs0\", members: [{_id: 0, host: \"mongo:27017\"}]})'
      "


volumes:
  mongo-data:

networks:
  mongo-network:
    driver: bridge
